/* Farbkonzept
primary-color: #232363;
secondary-color: #2e2d79
tertiary-color: #4e51a2;
*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

}

nav {
    width: unset;
    margin-left: unset;
    background: white;

}

main {
    margin-top: 91px;
}

.navbar-nav button {
    margin-right: 10px;
}

.dashboard {
    background: url(media/vecteezy-blue-background.jpg) no-repeat fixed center;
    background-size: cover;
    color: white;
    height: 60vh;
}

.welcome-container.container .contact-icons a {
    margin-right: 10px;
    color: #fff;
}

.about-me-container .card-body i {
    width: 30px;
}
.about-me-container .card-body label {
    padding-left: 30px;
}

main .container {
    padding: 50px 0;
}

hr {
    color: #232363;
    opacity: 1;
}

.container h1 {
    padding-bottom: 20px;
    text-align: center;
}

.welcome-container h1 {
    text-align: unset;
    padding-bottom: unset;
}




    