/* Farbkonzept
primary-color: #232363;
secondary-color: #2e2d79
tertiary-color: #4e51a2;
*/
html {
    scroll-padding-top: 91px;
    margin:0;
    padding:0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

nav {
    width: unset;
    margin-left: unset;
    background: white;
    border-bottom: 1px solid #232363;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

main {
    scroll-padding-top: 91px;
    /*margin-top: 91px;*/
}

footer {
    background-color: #2e2d79;
    color: white;
    display: flex;
    height: 150px;
}
footer .container {
    padding: 0;
    justify-content: flex-end;
    /* align-items: baseline; */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.navbar-nav button {
    margin-right: 10px;
}

.dashboard {
    background: url(media/vecteezy-blue-background.jpg) no-repeat fixed center;
    background-size: cover;
    color: white;
    height: 60vh;
}

.dashboard .contact-icons {
    margin-top: 10px;
}
.contact-icons a {
    margin-right: 10px;
    color: #fff;
}

.about-me-container .card-body i {
    width: 30px;
}
.about-me-container .card-body span {
    margin-left: 30px;
}

main .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

hr {
    color: #232363;
    opacity: 1;
}

.container h1 {
    padding-bottom: 20px;
    text-align: center;
}

.welcome-container h1 {
    text-align: unset;
    padding-bottom: unset;
}

@media only screen and (max-width: 767px) {
    .dashboard {
        background-position: left;
    }
}
